USE [master]
GO
/****** Object:  Database [Blog_Test]    Script Date: 08.08.2016 17:10:20 ******/
CREATE DATABASE [Blog_Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Blog_Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Blog_Test.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Blog_Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Blog_Test_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Blog_Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Blog_Test]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08.08.2016 17:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 08.08.2016 17:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Blog_Number] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](256) NULL,
	[Author] [int] NOT NULL,
	[Description] [nvarchar](2048) NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[Blog_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 08.08.2016 17:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Comment_Number] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[User_Number] [int] NULL,
	[Writes_Number] [int] NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Comment_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Likes]    Script Date: 08.08.2016 17:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[Like_Number] [int] IDENTITY(1,1) NOT NULL,
	[Like] [int] NOT NULL,
	[Write_Number] [int] NULL,
	[Comment_Number] [int] NULL,
 CONSTRAINT [PK_dbo.Likes] PRIMARY KEY CLUSTERED 
(
	[Like_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 08.08.2016 17:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Topics]    Script Date: 08.08.2016 17:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Topic_Number] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](1024) NULL,
	[Topic_Title] [nvarchar](max) NULL,
	[Blog_Number] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topics] PRIMARY KEY CLUSTERED 
(
	[Topic_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserCredentials]    Script Date: 08.08.2016 17:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCredentials](
	[UserID] [int] NOT NULL,
	[Login] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[ConfirmationPassword] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserCredentials] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 08.08.2016 17:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[User_User_Number] [int] NOT NULL,
	[Roles_RoleID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[User_User_Number] ASC,
	[Roles_RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 08.08.2016 17:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_Number] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Last_Name] [nvarchar](256) NULL,
	[Age] [int] NULL,
	[Education] [nvarchar](256) NULL,
	[Mobile_Phone] [int] NULL,
	[Short_Information] [nvarchar](2048) NULL,
	[Facebook_Link] [nvarchar](max) NULL,
	[Vk_Link] [nvarchar](max) NULL,
	[Mail_Link] [nvarchar](max) NULL,
	[UserCredentials_UserID] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[User_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Writes]    Script Date: 08.08.2016 17:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Writes](
	[Write_Number] [int] IDENTITY(1,1) NOT NULL,
	[Topic_Number] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Author] [int] NOT NULL,
	[Date] [datetime] NULL,
	[Time] [datetime] NULL,
 CONSTRAINT [PK_dbo.Writes] PRIMARY KEY CLUSTERED 
(
	[Write_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

INSERT [dbo].[Blogs] ([Blog_Number], [Title], [Author], [Description]) VALUES (1, N'Gozhelnix blog', 1, N'Gozhelnix blog descriptions')
SET IDENTITY_INSERT [dbo].[Blogs] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Comment_Number], [Comment], [User_Number], [Writes_Number]) VALUES (1, N'Comment to the first new', 1, 1)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Likes] ON 

INSERT [dbo].[Likes] ([Like_Number], [Like], [Write_Number], [Comment_Number]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[Likes] ([Like_Number], [Like], [Write_Number], [Comment_Number]) VALUES (2, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[Likes] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'moderator')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'authUser')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([Topic_Number], [Description], [Topic_Title], [Blog_Number]) VALUES (1, N'First topic first first description', N'News', 1)
INSERT [dbo].[Topics] ([Topic_Number], [Description], [Topic_Title], [Blog_Number]) VALUES (2, N'edited description for second topic', N'Writes', 1)
INSERT [dbo].[Topics] ([Topic_Number], [Description], [Topic_Title], [Blog_Number]) VALUES (4, N'Description for third topic', N'Other', 1)
SET IDENTITY_INSERT [dbo].[Topics] OFF
INSERT [dbo].[UserCredentials] ([UserID], [Login], [Password], [ConfirmationPassword]) VALUES (2, N'login', N'password1', NULL)
INSERT [dbo].[UserCredentials] ([UserID], [Login], [Password], [ConfirmationPassword]) VALUES (3, N'login', N'password2', NULL)
INSERT [dbo].[UserCredentials] ([UserID], [Login], [Password], [ConfirmationPassword]) VALUES (4, N'login', N'password3', NULL)
INSERT [dbo].[UserRoles] ([User_User_Number], [Roles_RoleID]) VALUES (1, 1)
INSERT [dbo].[UserRoles] ([User_User_Number], [Roles_RoleID]) VALUES (2, 2)
INSERT [dbo].[UserRoles] ([User_User_Number], [Roles_RoleID]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_Number], [Name], [Last_Name], [Age], [Education], [Mobile_Phone], [Short_Information], [Facebook_Link], [Vk_Link], [Mail_Link], [UserCredentials_UserID]) VALUES (1, N'Tanya', N'Gozhel''na', 18, N'Journalistic', 638366943, N'Student & Journalist', N'', N'', N'', NULL)
INSERT [dbo].[Users] ([User_Number], [Name], [Last_Name], [Age], [Education], [Mobile_Phone], [Short_Information], [Facebook_Link], [Vk_Link], [Mail_Link], [UserCredentials_UserID]) VALUES (2, N'Andrii', N'Frantyk', 20, N'Mathematic', 931145460, N'Programmist', NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([User_Number], [Name], [Last_Name], [Age], [Education], [Mobile_Phone], [Short_Information], [Facebook_Link], [Vk_Link], [Mail_Link], [UserCredentials_UserID]) VALUES (3, N'Mykola', N'Tarchanyn', 20, N'Programming education', 970000000, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Writes] ON 

INSERT [dbo].[Writes] ([Write_Number], [Topic_Number], [Title], [Description], [Author], [Date], [Time]) VALUES (1, 1, N'First new', N'First new with short description', 1, CAST(N'2016-06-27 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Writes] ([Write_Number], [Topic_Number], [Title], [Description], [Author], [Date], [Time]) VALUES (2, 1, N'Second write', N'Description for second write', 1, NULL, NULL)
INSERT [dbo].[Writes] ([Write_Number], [Topic_Number], [Title], [Description], [Author], [Date], [Time]) VALUES (3, 1, N'Third write', N'Description for third write', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Writes] OFF
/****** Object:  Index [IX_Comment_Number]    Script Date: 08.08.2016 17:10:20 ******/
CREATE NONCLUSTERED INDEX [IX_Comment_Number] ON [dbo].[Likes]
(
	[Comment_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Write_Number]    Script Date: 08.08.2016 17:10:20 ******/
CREATE NONCLUSTERED INDEX [IX_Write_Number] ON [dbo].[Likes]
(
	[Write_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Blog_Number]    Script Date: 08.08.2016 17:10:20 ******/
CREATE NONCLUSTERED INDEX [IX_Blog_Number] ON [dbo].[Topics]
(
	[Blog_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Roles_RoleID]    Script Date: 08.08.2016 17:10:20 ******/
CREATE NONCLUSTERED INDEX [IX_Roles_RoleID] ON [dbo].[UserRoles]
(
	[Roles_RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_User_Number]    Script Date: 08.08.2016 17:10:20 ******/
CREATE NONCLUSTERED INDEX [IX_User_User_Number] ON [dbo].[UserRoles]
(
	[User_User_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserCredentials_UserID]    Script Date: 08.08.2016 17:10:20 ******/
CREATE NONCLUSTERED INDEX [IX_UserCredentials_UserID] ON [dbo].[Users]
(
	[UserCredentials_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Topic_Number]    Script Date: 08.08.2016 17:10:20 ******/
CREATE NONCLUSTERED INDEX [IX_Topic_Number] ON [dbo].[Writes]
(
	[Topic_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Likes_dbo.Comments_Comment_Number] FOREIGN KEY([Comment_Number])
REFERENCES [dbo].[Comments] ([Comment_Number])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_dbo.Likes_dbo.Comments_Comment_Number]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Likes_dbo.Writes_Write_Number] FOREIGN KEY([Write_Number])
REFERENCES [dbo].[Writes] ([Write_Number])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_dbo.Likes_dbo.Writes_Write_Number]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Topics_dbo.Blogs_Blog_Number] FOREIGN KEY([Blog_Number])
REFERENCES [dbo].[Blogs] ([Blog_Number])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_dbo.Topics_dbo.Blogs_Blog_Number]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_Roles_RoleID] FOREIGN KEY([Roles_RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_Roles_RoleID]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_User_User_Number] FOREIGN KEY([User_User_Number])
REFERENCES [dbo].[Users] ([User_Number])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_User_User_Number]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.UserCredentials_UserCredentials_UserID] FOREIGN KEY([UserCredentials_UserID])
REFERENCES [dbo].[UserCredentials] ([UserID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.UserCredentials_UserCredentials_UserID]
GO
ALTER TABLE [dbo].[Writes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Writes_dbo.Topics_Topic_Number] FOREIGN KEY([Topic_Number])
REFERENCES [dbo].[Topics] ([Topic_Number])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Writes] CHECK CONSTRAINT [FK_dbo.Writes_dbo.Topics_Topic_Number]
GO
USE [master]
GO
