<div>
    <div class="jumbotron jumbotron-fluid bg-info">
        <div class="container text-sm-center p-t-3">
            <h1 class="display-2">{{title}}</h1>
            <p class="lead">Stay here and read more interesting :)</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="/Images/blog2-1.jpeg" class="img img-fluid img-rounded" alt="blogAuthor">
            </div>
            <div class="col-lg-6">
                <p class="center-block font-italic m-x-0" style="font-size: 22px;">
                    {{description}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 font-italic m-l-3 m-t-3">
                <p class="center-block" style="font-size: 22px;">
                    In this simple blog site, you'll find three main topics - Writes, News, and Others which are displayed as the tab button in top of the page.
                </p>
            </div>
        </div>
    </div>
</div>
