<!DOCTYPE html>
<html>
<head ng-app="myApp" lang="en">
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Content/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="../Content/font-awesome.min.css">
    <link rel="stylesheet" href="../Content/stylesheet.css">

    <script type="text/javascript" src="../scripts/angular.js"></script>
    <script src="../scripts/angular-resource.min.js"></script>
    <script src="../scripts/AngularUI/ui-router.min.js"></script>
    <script src="../scripts/angular-route.js"></script>
    <script src="../scripts/ngDialog.js"></script>
    <script src="../scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="../app/appConsts.js"></script>
    
    <script type="text/javascript" src="../app/app.js"></script>
    <script src="../app/Controllers/UserController.js"></script>
    <script src="../app/Services/HttpFactory.js"></script>
    <script src="../app/Services/UserServices.js"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Writes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#speakers">Others</a>
                    </li>
                </ul>
                <div class="row">
                    <a class="navbar-brand pull-sm-right col-md-1" href="logIn" ng-click="">Log in</a>
                    <a class="navbar-brand pull-sm-right m-r-0 hidden-xs-down">Presented by Andrii Frantyk</a>
                </div>
            </div>
        </nav>

        <div ng-view></div>

        <!-- footer -->
        <footer class="container" id="wrap">
            <div class="row">
                <div class="col-md-7">
                    <small>&copy; 2016 {{User.name + ' ' + User.last_Name}} Simple Blog, @{{User.last_Name}}</small>
                </div>

                <div class="col-md-5">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoVk" title="VK"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer> <!-- /footer -->
    </div>

</body>



</html>