<!DOCTYPE html>
<html>
<head  lang="en">
    <title>Blog</title>
    <!--<base href="http://localhost:51393/">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Content/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <link rel="stylesheet" href="../Content/font-awesome.min.css">
    <link rel="stylesheet" href="../Content/stylesheet.css">


    <script type="text/javascript" src="../scripts/angular.js"></script>
    <script src="../scripts/angular-resource.min.js"></script>
    <script src="../scripts/AngularUI/ui-router.min.js"></script>
    <script src="../scripts/angular-route.js"></script>
    <script src="../scripts/ngDialog.js"></script>
    <script src="../scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="../app/appConsts.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    
    <script type="text/javascript" src="../app/app.js"></script>
    <script src="../app/Services/HttpFactory.js"></script>
    <script src="../app/Services/IndexServices.js"></script>
    <script src="../app/Controllers/IndexController.js"></script>
    <script src="../app/Controllers/HomeController.js"></script>
    <script src="../app/Controllers/WritesController.js"></script>
    <script src="../app/Services/HomeServices.js"></script>
    <script src="../app/Services/TopicServices.js"></script>
    <script src="../app/Services/WriteServices.js"></script>
    <script src="../app/Services/ShareTopicService.js"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="IndexController">
        <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="nav-item" ng-repeat="topic in Topics">
                        <a class="nav-link" href="Index.html#/write/all" ng-click="putTopicInfo(topic.topic_Title, topic.topic_Number)">{{topic.topic_Title}}</a>
                    </li>
                </ul>
                <div class="row p-r-2">
                    <a class="navbar-brand pull-sm-right  hidden-xs-down">Author</a>
                    <button type="button" class="btn btn-primary pull-sm-right" data-toggle="modal" data-target="#log">Log in</button>
                </div>
            </div>
        </nav>

        <div ng-view></div>

        <hr style="margin-bottom: -5px;" />

        <!-- footer -->
        <footer class="container" id="wrap">
            <div class="row">
                <div class="col-md-7">
                    <small>&copy; 2016 {{User.name + ' ' + User.last_Name}} Simple Blog, @{{User.last_Name}}</small>
                </div>

                <div class="col-md-5 p-b-3">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoVk" title="VK"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer> <!-- /footer -->

    </div>
    <script src="../app/additionScripts/WritesPanel.js"></script>
    <script src="../app/additionScripts/ActiveNavLink.js"></script>
</body>



</html>