<div id="logIn" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Log in to the blog</h4>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset class="form-group">
                        <label for="name" class="form-control-label">Name or Email</label>
                        <input type="text" class="form-control" id="name" placeholder="Example input">
                    </fieldset>
                    <fieldset class="form-group has-danger">
                        <label for="mail" class="form-control-label p-l-0">Password</label>
                        <input type="email" class="form-control form-control-danger" id="mail">
                    </fieldset>
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>