<div class="container">

    <div class="jumbotron">
        <h1 class="display-1">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="m-y-2">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading panel-callapsed">
                <div class="row">
                    <h3 class="col-md-10" style="margin: 0;">Panel Heading</h3>
                    <p class="col-md-1 text-left text-uppercase m-t-2" style="font-size: 12px; margin: 11px 0 0 0;">Comments</p>
                    <span class="glyphicon glyphicon-thumbs-up col-md-1" area-hidden="true" style="font-size: 20px; margin: 7px 0 0 0;"></span>
                </div>
                <h5 style="font-style: italic;">Author</h5>
            </div>
            <div class="panel-body">
                <div class="card text-center">
                    panel body
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <h3 class="col-md-10" style="margin: 0;">Panel Heading #2</h3>
                    <p class="col-md-1 text-left text-uppercase m-t-2" style="font-size: 12px; margin: 11px 0 0 0;">Comments</p>
                    <span class="glyphicon glyphicon-thumbs-up col-md-1" area-hidden="true" style="font-size: 20px; margin: 7px 0 0 0;"></span>
                </div>
                <h5 style="font-style: italic;">Author</h5>
            </div>
            <div class="panel-body">
                <div class="card text-center">
                    panel body #2
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <h3 class="col-md-10" style="margin: 0;">Panel Heading #2</h3>
                    <p class="col-md-1 text-left text-uppercase m-t-2" style="font-size: 12px; margin: 11px 0 0 0;">Comments</p>
                    <span class="glyphicon glyphicon-thumbs-up col-md-1" area-hidden="true" style="font-size: 20px; margin: 7px 0 0 0;"></span>
                </div>
                <h5 style="font-style: italic;">Author</h5>
            </div>
            <div class="panel-body">
                <div class="card text-center">
                    panel body #2
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <h3 class="col-md-10" style="margin: 0;">Panel Heading #2</h3>
                    <p class="col-md-1 text-left text-uppercase m-t-2" style="font-size: 12px; margin: 11px 0 0 0;">Comments</p>
                    <span class="glyphicon glyphicon-thumbs-up col-md-1" area-hidden="true" style="font-size: 20px; margin: 7px 0 0 0;"></span>
                </div>
                <h5 style="font-style: italic;">Author</h5>
            </div>
            <div class="panel-body">
                <div class="card text-center">
                    panel body #2
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <h3 class="col-md-10" style="margin: 0;">Panel Heading #2</h3>
                    <p class="col-md-1 text-left text-uppercase m-t-2" style="font-size: 12px; margin: 11px 0 0 0;">Comments</p>
                    <span class="glyphicon glyphicon-thumbs-up col-md-1" area-hidden="true" style="font-size: 20px; margin: 7px 0 0 0;"></span>
                </div>
                <h5 style="font-style: italic;">Author</h5>
            </div>
            <div class="panel-body">
                <div class="card text-center">
                    panel body #2
                </div>
            </div>
        </div>
    </div>
</div>
