<div class="container">
    <div class="jumbotron">
        <h1 class="display-1 text-md-center">{{currentTopicName}}</h1>
        <p class="lead text-md-center">{{currentTopicDescription}}</p>
        <hr class="m-y-1">
    </div>

    <div class="container-fluid m-y-2" ng-repeat="write in Writes">
        <div class="card p-a-2">
            <div class="card-title" ng-click="isCollapsed = !isCollapsed">
                <div class="row">
                    <h3 class="card-title col-md-12" style="margin: 0;">{{write.title}}</h3>
                </div>
                <div class="row">
                    <h5 class="col-md-10" style="font-style: italic;">Author</h5>
                    <p class="col-md-1 text-left text-uppercase" style="font-size: 12px; margin: 5px 0 0 0;">Comments</p>
                    <span class="col-md-1 fa fa-thumbs-o-up pull-md-right" area-hidden="true" style="font-size: 20px;margin-top: 5px; "></span>
                </div>
            </div>
            <div class="card-text text-sm-center m-t-2" uib-collapse="isCollapsed">
                <div class="card card-center">
                    <pre>{{write.description}}</pre>
                </div>
            </div>
        </div> 
    </div>
</div>